<a href="https://colab.research.google.com/github/Andrei198203/Data_Science_HW_2/blob/main/HW2.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1

In [38]:
import pandas as pd

# 1. Read the 2017_jun_final.csv file using the read_csv method
url = "https://docs.google.com/spreadsheets/d/1bclX5PbqE8zR1-wOSM3ZTFa53sIC7RXqwty7Abmw9yQ/export?format=csv&id=1bclX5PbqE8zR1-wOSM3ZTFa53sIC7RXqwty7Abmw9yQ"
df = pd.read_csv(url)

Task2

In [39]:
# 2. Read the resulting table using the head method
print("First rows of the table:")
print(df.head())

First rows of the table:
   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

Task3

In [40]:
# Define the size of a table using the shape method
print("Table size:", df.shape)

Table size: (8704, 25)

Task4

In [41]:
# Define the types of all columns using dataframe.dtypes
print("Column data types:")
print(df.dtypes)

Column data types:
N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Task5

In [42]:
# Calculate the proportion of blanks in each column
missing_percentage = df.isnull().sum() / len(df) * 100
print("Proportion of spaces in each column:")
print(missing_percentage)

Proportion of spaces in each column:
N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

Task6

In [46]:
# Delete all columns with spaces, except for the "Programming language" column
columns_to_drop = df.columns[df.isnull().any() & (df.columns != 'Мова програмування')]
df = df.drop(columns_to_drop, axis=1)

Task7

In [47]:
# Calculate the proportion of spaces in each column again
missing_percentage_after_drop = df.isnull().sum() / len(df) * 100
print("Proportion of spaces in each column after deletion:")
print(missing_percentage_after_drop)

Proportion of spaces in each column after deletion:
N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Ще студент                           0.000000
Рівень англійської                   0.000000
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
dtype: float64

Task8

In [48]:
# Delete all rows in the source table using the dropna method
df.dropna(inplace=True)

Task9

In [49]:
# Define a new table size using the shape method
print("New table size:", df.shape)

New table size: (4854, 20)

Task10

In [50]:
# 10. Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python.
python_data = df[df['Мова програмування'] == 'Python']

Task11

In [51]:
# Determine the size of the python_data table using the shape method.
print("The size of the python_data table:", python_data.shape)

Розмір таблиці python_data: (207, 20)

Task12

In [53]:
# Using the groupby method, group by the "Position" column.
grouped_data = python_data.groupby('Посада')

Task13

In [55]:
# 13. Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць".
agg_data = grouped_data.agg({'Зарплата на місяць': ['min', 'max']})
print("Aggregated data by position:")
print(agg_data)

Aggregated data by position:
                         Зарплата на місяць
                                        min   max
Посада
Junior Software Engineer                100  1250
Senior Software Engineer               1300  9200
Software Engineer                       500  5400
System Architect                       3000  5000
Technical Lead                         1425  6200

Task14

In [58]:
# Create a fill_avg_salary function that returns the average salary per month.
# Use it for the apply method and create a new column "avg"
def fill_avg_salary(group):
    return group.mean()

python_data_copy = python_data.copy()  # Creating a copy of a DataFrame
python_data_copy['avg'] = python_data_copy.groupby('Посада')['Зарплата на місяць'].apply(fill_avg_salary)

Task15

In [60]:
# Create descriptive statistics using the describe method for a new column.
print("Descriptive statistics for the new column:")
print(python_data['avg'].describe())

Descriptive statistics for the new column:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: avg, dtype: float64

Task16

In [62]:
# Save the resulting table to a CSV file
python_data.to_csv('python_data.csv', index=False)